.thumbnail {
    flex: 0 0 22%;
    min-width: 0;
    max-width: 100%;
}

.card {
    box-shadow: 1px 3px 8px rgba(30, 29, 29, 0.723);
    background-color: white;
    border-radius: 3px;
}

.card__container{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
}

.card__imagen{
    width: 70%;
    margin: 1rem auto;
    border-radius: 10px;
}

.card__nombre{
    font-size: 1rem;
    height: 3rem;
    font-weight: normal;
    color: #2c2c2c;
    padding-bottom: 1rem;
    margin-bottom: .7rem;
    overflow: hidden;
}

.card__precio{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.card__botoncarrito {
    width: 80%;
    align-self: center;
}

.card__botonera {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    margin: 0 auto 1rem auto;
    border: 1px solid rgba(143, 139, 139, 0.6);
    border-radius: 3px;
}

.card__botoneraTexto {
    border: none;
    text-align: center;
    padding: 0;
    font-size: 1.2rem;
    background: white;
}


