.app {
    display:flex;
    flex-flow: column nowrap;
    min-height: 100vh;
    position: relative;
}

.main {
    flex-grow: 1;
    min-height: 95vh;
}

textarea {
    resize: none;
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: inherit;
}
