.catbanner {
    width: 80vw;
    position: relative;
    margin: 1rem auto;
}

.catbanner--img {
    width: 100%;
    object-fit: contain;
    object-position: 0 -10%;
}

.catbanner--texto {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 2rem;
    font-weight: 700;
    color: white;
}