.producto {
    display: flex;
    padding: .8rem;
    border: 1px solid grey;
    border-radius: 15px;
}

.producto__info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.producto__imagen {
    width: 10%;
    border-radius: 15px;
    margin-left: .5rem;
}

.producto__nombre {
    font-size: 1.6rem;
    align-self: center;
    margin-left: 1rem;
}