.info {
    height: 100vh;
    display: flex;
    justify-content: space-around;
}

.info__container {
    place-self: center;
    display: flex;
    flex-direction: column;
}

.info__logocontainer {
    display: flex;
}

.info__logo {
    width: 60vw;
    min-width: 500px;
    margin: auto;
}

.info__title {
    font-size: 2rem;
    font-weight: 300;
    margin: 0 auto 2rem auto;
}

.info__iconcontainer {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    margin: 0 auto;
}

.info__icondiv {
    padding: .5rem;
    display: flex;
    flex-direction: column;
}

.info__iconimg {
    font-size: 5rem;
}

.info__icontext {
    margin: 1rem 0;
    font-size: 1.2rem;
    text-align: center;
}

.info__information {
    display: flex;
    justify-content: space-between;
    padding-top: .5rem;
    margin-top: .5rem;
    border-top: 1px solid #656565;
}

.info_information>* {
    font-size: 1.1rem;
}

.info__socials, .info__code {
    display: flex;
}

.info__socials>* {
    margin-right: .5rem;
}

.info__code {
    border-bottom: 1px dashed #656565;
}